
.banner{
	background-image: linear-gradient(90deg,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.2) 50%), url(../../images/bg.jpg);
	color:white;
	padding:90px 60px;
	background-size: cover;
	background-position: center;
}

.banner h1{
  font-family: 'Overpass Mono', monospace;
  font-size: 50px;
  color: #e9ebe5;
  margin-bottom: 20px;
}

.banner p{
	margin-bottom: 50px;
}

.banner a{
	margin-right: 30px
}

#endbanner{
	background-image: linear-gradient(0deg,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.2) 50%), url(../../images/end.jpg);
}

#endbanner .flexcontainer a{
	color:#e9ebe5;
	background-color: none;
}	
